---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <section class="flex justify-center items-center h-screen bg-gray-100">
        <div class="relative grid grid-cols-2 bg-orange-500 rounded-2xl min-w-[600px] min-h-[350px] overflow-hidden shadow-xl">
            
            <div class="register col-start-1 flex flex-col items-center justify-center p-5">
                <h1 class="text-4xl font-bold text-white mb-4">Regístrate</h1>
                <form action="" class="flex flex-col gap-4 items-center">
                    <input required id="nombre" class="focus:outline-none focus:ring-1 ring-gray-700 rounded px-2 py-1 bg-white" type="text" placeholder="Nombre">
                    <input required id="nick" class="focus:outline-none focus:ring-1 rounded px-2 py-1 bg-white" type="text" placeholder="Nickname">
                    <input required id="email" class="focus:outline-none focus:ring-1 rounded px-2 py-1 bg-white" type="email" placeholder="Email">
                    <input required id="pass" class="focus:outline-none focus:ring-1 rounded px-2 py-1 bg-white" type="password" placeholder="Contraseña">
                    
                    <button class="btnRegister bg-white text-orange-600 rounded px-4 py-2 hover:-translate-y-0.5 hover:shadow-md transition-all font-bold mt-2 cursor-pointer" type="submit">
                        Registrar Cuenta
                    </button>
                </form>
            </div>

            <div class="panel absolute top-0 left-0 w-1/2 h-full translate-x-full flex flex-col items-center justify-center bg-gray-700 p-6 transition-transform duration-500 ease-in-out z-20 text-white">
                <p class="text-center font-medium mb-4 text-gray-300">¿Ya tienes cuenta?</p>
                
                <button class="btnSwitch border-2 border-white rounded px-4 py-2 hover:bg-white hover:text-gray-700 transition-all font-bold cursor-pointer">
                    Ingresar
                </button>
            </div>

            <div class="login col-start-2 flex flex-col items-center justify-center p-5">
                <h1 class="text-4xl font-bold text-white mb-4">Ingresar</h1>
                <form id="formu" action="" class="flex flex-col gap-4 items-center">
                    <input required name="username" class="focus:outline-none focus:ring-1 rounded px-2 py-1 bg-white" type="text" placeholder="Username">
                    <input required name="password" class="focus:outline-none focus:ring-1 rounded px-2 py-1 bg-white" type="password" placeholder="Contraseña">
                    
                    <button class="btnLogin bg-white text-orange-600 rounded px-4 py-2 hover:-translate-y-0.5 hover:shadow-md transition-all font-bold mt-2 cursor-pointer" type="submit">
                        Iniciar Sesión
                    </button>
                </form>
            </div>

        </div>
<script>
    const btnSwitch = document.querySelector(".btnSwitch");
    const panel = document.querySelector(".panel");
    const textoPanel = document.querySelector(".panel p");

    btnSwitch?.addEventListener('click', function(){
        // Movemos el panel
        panel?.classList.toggle('translate-x-full');
        
        // Cambiamos el texto del botón interno del panel para invitar a la otra acción
        if (panel?.classList.contains('translate-x-full')) {
            if (textoPanel) textoPanel.textContent = "¿Ya tienes cuenta?";
            if (btnSwitch) btnSwitch.textContent = "Ingresar";
        } else {
            if (textoPanel) textoPanel.textContent = "¿Aún no tienes cuenta?";
            if (btnSwitch) btnSwitch.textContent = "Regístrate";
        }
    });
    
    const API = "http://localhost:8000";
    
    const btnRegister = document.querySelector(".btnRegister")
    const nombreInput = document.querySelector("#nombre")
    const nickInput = document.querySelector("#nick")
    const emailInput = document.querySelector("#email")
    const passInput = document.querySelector("#pass")

    btnRegister?.addEventListener('click', async(e)=>{
        e.preventDefault()

        const res = await fetch(`${API}/users`,{ 
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                nombre: nombreInput.value,
                nickname: nickInput.value,
                email: emailInput.value,
                password: passInput.value
            })
        })

        if (res.ok) {
            const data = await res.json();
            console.log("Usuario creado con éxito:", data);
            alert("¡Usuario registrado!");
        } else {
            console.error("Error en el servidor:", res.statusText);
        }
        
        nombreInput.value = "";
        nickInput.value = "";
        emailInput.value = "";
        passInput.value = "";
    })

    const btnLogin = document.querySelector(".btnLogin")
    const formulario = document.getElementById("formu")

    btnLogin?.addEventListener('click', async (e)=>{
        e.preventDefault();

        const datosFormCrudo = new FormData(formulario)
        const datosForm = new URLSearchParams(datosFormCrudo)
        console.log(datosFormCrudo)
        console.log(datosForm)
        console.log(formulario)
        const res = await fetch(`${API}/users/login`, {
            method: "POST",
            headers: {
            "Content-Type": "application/x-www-form-urlencoded"
            },
            body: datosForm
        })

        if (res.ok){
            const data = await res.json()

            localStorage.setItem("token", data.access_token)

            formulario.reset()

            window.location.replace("/")
        }else{
            console.error("Error en el servidor:", res.statusText)
        }
    })
</script>